/* tatso */
.t{ 
    background-color: blue;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/* lista */
ul{
    list-style-type: none;
}
/* per indext */
.ben{
    border: 2px solid red;
    border-radius: 1111px;
    text-align: center;
    background-color: blue;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.b{
    background-color: blue;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    width: 110px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.b:hover{
    background-color: black;
    border: 1px solid blue;
}

#tutorial{
    background-color: blue;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    width: 150px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
#tutorial:hover{
    background-color: black;
    border: 1px solid blue;
}

#b{
    background-color: blue;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
#b:hover{
    background-color: black;
    border: 1px solid blue;
}

.sottotitolo{
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 10px;
    text-align: center;
    position: relative;
}
.sottotitoloBlack{
    color: black;
    font-family: 'Montserrat', sans-serif;
    height: 10px;
    text-align: center;
    position: relative;
}
#pagau{
    overflow-x: hidden;
    /* per nn fare scorrere la pag */
}
/* per centrare le immagini nei servizzi */
.fixa_img_in_servizzi{
    margin-right: 5%;
    margin-bottom: 2%;
}