hr{
    border: 1px solid black;
}
/* tatso */
.t{ 
    background-color: blue;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/* lista */
ul{
    list-style-type: none;
}
/* per indext */
.ben{
    border: 2px solid red;
    border-radius: 1111px;
    text-align: center;
    background-color: blue;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.index{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.b{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 3px 3px 12px black;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}
.b:hover{
    background-color: black;
    border: 1px solid blue;
}

.sottotitolo{
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 10px;
    text-align: center;
}
.sottotitoloBlack{
    color: black;
    font-family: 'Montserrat', sans-serif;
    height: 10px;
    text-align: center;
}
body{
    overflow-x: hidden;
    /* per nn fare scorrere la pag */
}
/* per centrare le immagini nei servizzi */
.fixa_img_in_servizzi{
    margin-right: 5%;
}

@media screen and (max-width: 1200px) {
    .b:hover{
        background-color: blue;
        border: 1px solid black;
    }
    .b:active{
        background-color: black;
        border: 1px solid blue;
    }
}