*{
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow: hidden;
    /* per nn fare scorrere la pag */
}
.t{ 
    background-color: blue;
    color: white;
}
#imimg{
    color: white;
}
#cost{
    color:blue;
}

.container {
    display: flex;
    align-items: center; /* centra verticalmente */
    gap: 40px; /* spazio tra immagine e testo */
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%); /* centra l'elemento */
}

.img {
    max-width: 500px;
    width: 40vw;
    height: auto;
    margin-right: 40px;
}

#testo {
    text-align: center;
    width: 900px;
}

#compra{
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
}
#compra:hover{
    background-color: black;
    border: 1px solid blue;
}


@media screen and (max-width: 1000px) {
    #testo {
        width: 300px;
    }
    .img{
        width: 300px;
    }
    body{
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        bottom: 50%;
        gap: 20px;
    }
    .img{
        max-width: 300px;
        width: 80vw;
        margin-right: 0;
    }
}