body{
    overflow: hidden;
    /* per nn fare scorrere la pag */
}
.t{ 
    background-color: blue;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.img{
    position: relative;
    height: 9cm;
    left: 6%;
    bottom: -6%;
}
#imimg{
    position: relative;
    bottom: 10cm;
    left: 20cm;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#cost{
    position: relative;
    left: 20cm;
    bottom: 10cm;
    font-family: 'Montserrat', sans-serif;
    color:blue;
}

#compra{
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#compra:hover{
    background-color: black;
    border: 1px solid blue;
}

@media screen and (max-width: 768px) {
    .img{
        position: static;
        left: auto;
        bottom: auto;
        height: 100%;
        width: 100%;
    }
    #imimg{
        position: relative;
        bottom: auto;
        left: auto;
        text-align: center;
    }
    #cost{
        position: static;
        left: auto;
        bottom: auto;
        text-align: center;
        margin-left: 25%;
    }
    body{
        overflow-x: hidden;
    }
}